{% extends 'choice_model/main.html' %}
{% block content %}
<div class="container">
    <a href="{% url 'bundles' %}">Return home</a>
    <h1 class="mb-3">Manage baselines</h1>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Actions</th>
            <th></th>
            <th></th>
            <th>Selected</th>
        </thead>
        <tbody>
            {% for baseline in baselines %}
                <tr>
                    <td>{{ baseline.name }}</td>
                    <td>
                        <form action="{% url 'select-baseline' %}" method="post"> {% csrf_token %}
                            <input type="hidden" name="baseline_id" value="{{ baseline.id }}">
                            <input class="btn btn-green p-1" type="submit" value="Select">
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-green p-1" href="{% url 'edit-baseline' baseline.id %}">Edit</a>
                    </td>
                    <td>
                        <form action="{% url 'delete-baseline' baseline.id %}" method="post"> {% csrf_token %}
                            <input type="hidden" name="baseline_id" value="{{ baseline.id }}">
                            <input class="btn btn-outline-danger p-1" type="submit" value="Delete">
                        </form>
                    </td>
                    <td>{% if baseline.selected %} Yes {% else %} No {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}