{% extends 'choice_model/main.html' %}
{% block content %}
<div class="container">
    <a href="{% url 'bundles' %}">Go back</a>
    <h1>Recalibrate Baseline</h1>
    <form action="." method="POST" class="mt-3">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-6">
                <h5><strong>Site name</strong></h5>
            </div>
            <div class="d-flex flex-row col-md-6">
                <h5><strong>Total visits</strong></h5>
                <input type="submit" value="Submit" class="btn btn-black ms-auto">
            </div>
        </div>
        {% for site_name, site_visits in baseline_site_visits.items %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="{{ site_name }}">{{ site_name }}</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" name="{{ site_name }}" id="{{ site_name }}" value="{{ site_visits }}">
                </div>
            </div>
        {% endfor %}
    </form>
</div>
{% endblock content %}