{% extends 'main.html' %}
{% block content %}
<div>
    <div class="row py-2 align-items-center">
        <div class="col-md-8 justify-content-center">
            <h1>Saved Bundles</h1>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" role="button" href="{% url 'bundle-create' %}">Create New Bundle</a>
        </div>
    </div>
    <table class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th>Nickname</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for bundle in bundles %}
            <tr>
                <td>{{bundle.nickname}}</td>
                <td>
                    <a href="{% url 'bundle' bundle.bundle_id %}">View</a>
                </td>
                <td>
                    <a href="{% url 'bundle-update' bundle.bundle_id %}">Update</a>
                </td>
                <td>
                    <a href="{% url 'bundle-delete' bundle.bundle_id %}">Delete</a>
                </td>
            </tr>
        </tbody>
        {% empty %}
        <h3>No Bundles Created</h3>
        {% endfor %}
    </table>
</div>
{% endblock content %}