{% extends 'main.html' %}
{% load plotly_dash %}
{% block content %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Veritas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if request.user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'bundles' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'profile' request.user.pk %}">Profile</a>
                <a class="nav-item nav-link" href="#">Settings</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <a class="nav-item nav-link" href="#">Help</a>
            </div>
        </div>
    </nav>
    <div class="row py-2 align-items-center">
        <div class="col-md-8 justify-content-center">
            <h1>Your Saved Models</h1>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" role="button" href="{% url 'bundle-create' %}">Create New Model</a>
        </div>
    </div>
    <table class="table">
        <thead class="bg-dark text-white">
            <tr>
                <th>Nickname</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for bundle in bundles %}
            <tr>
                <td>{{bundle.nickname}}</td>
                <td>
                    <a class="btn btn-outline-success py-0" href="{% url 'bundle' bundle.bundle_id %}">Calculate</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary py-0" href="{% url 'bundle-update' bundle.bundle_id %}">Modify</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger py-0" href="{% url 'bundle-delete' bundle.bundle_id %}">Delete</a>
                </td>
            </tr>
        </tbody>
        {% empty %}
        <h3>No Bundles Created</h3>
        {% endfor %}
    </table>
    <h1>Baseline Model</h1>
    <div class="row py-2 align-items-center">
        <div class="col-md-8 justify-content-center">
            <p>Not happy with our baseline? Feel free to recalibrate with your own inputs</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-primary" role="button" href="">Recalibrate Baseline</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="d-flex col-md-4">
            <h5>Equity Evaluation</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Baseline Black</th>
                        <th>Baseline Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{baseline_equity_black}}</td>
                        <td>{{baseline_equity_other}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pb-4 align-items-center">
        <h5>Site Choice Probabilities</h5>
        {% plotly_app name="SiteChoiceProb" ratio=0.2 initial_arguments=dash_context %}
    </div>
</div>
{% endblock content %}