{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="p-4">
    <a href="{% url 'bundle-update' bundle_id %}">Go back</a>
</div>
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group col-md-12">
            {{ form.name|as_crispy_field}}
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.acres|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.trails|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{ form.trail_miles|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.picnic_area|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{ form.playgrounds|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.sports_facilities|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{ form.swimming_facilities|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.boat_launch|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{ form.waterbody|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{ form.bathrooms|as_crispy_field}}
            </div>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>

{% endblock content%}
